# NoTrackd systemd service unit file
#
# Configuration Notes
#
#    - Option names (e.g. ExecStart=, Type=) are case-sensitive)
#
#    - Adjust User= and Group= to the user/group you want NoTrack to run as.
#
#    - Optional adjust EnvironmentFile= path to configuration file
#        Can ONLY be used for configuring extra options used in ExecStart.
#        Putting a minus (-) in front of file means no error warning if the file doesn't exist
#
#    - Adjust ExecStart= to point to your python and NoTrack executables.
#       The FIRST token of the command line must be an ABSOLUTE FILE NAME, followed by arguments for the process.
#       Arguments can also be set in EnvironmentFile (except python)
#
#    - WantedBy= specifies which target (i.e. runlevel) to start NoTrack for.
#        multi-user.target equates to runlevel 3 (multi-user text mode)
#        graphical.target  equates to runlevel 5 (multi-user X11 graphical mode)
#


[Unit]
Description=NoTrackd Service
Documentation=https://gitlab.com/quidsup/notrack
After=network.target syslog.target

[Service]
Type=simple
User=root
Group=root
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python3 /opt/notrack/src/notrackd.py
KillMode=process
Restart=on-failure
TimeoutStartSec=10
TimeoutStopSec=10
WorkingDirectory=/opt/notrack

[Install]
WantedBy=multi-user.target
