# Byte-compiled / optimized / DLL files
__pycache__/

#NoTrack PHP settings
admin/settings/bl.php
admin/settings/latestversion.php
admin/settings/server.php
admin/settings/status.php
admin/settings/blacklist.txt
admin/settings/whitelist.txt
