@charset "utf-8";
/* ==========================================================================
   Alert notifications for upgrade
   ========================================================================== */
.alertupgrade {
  display: block;
  width: 28rem;
  max-width: 90%;
  margin: 4rem auto 0;
  padding: 0.5rem;
  background-color: rgba(0, 193, 119, 0.8);
  border: 2px solid #01ff9e;
  border-radius: 4px;
  font-size: 1.05rem;
  text-align: center;
}
.alertupgrade a {
/*   color: #00c2c8; */
  text-decoration: underline;
}


/* ==========================================================================
   CSS for index providing home-nav
   ========================================================================== */
.home-nav-container {
  width: 100%;
  margin: 1.5rem auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.home-nav-container > a,
.home-nav-container > div {
  display: block;
  margin-bottom: 1.2rem;
  padding: 0.6rem 2% 0.5rem;
  background-color: #f7f7f7;
  border-left: 7px solid #00b7ba;
  border-radius: 2px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  flex-basis: 18%;
  flex-grow: 0;
}
.home-nav-container > a > div:nth-of-type(1) {
  width: 55%;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  float: left;
}
.home-nav-container > a > div:nth-of-type(2) {
  width: 35%;
  max-width: 7rem;
  padding: 0.2rem 0.7rem 0 0.2rem;
  float: right;
}
.home-nav-container h2 {
  margin: 0 0 1rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #00b7ba;
  font-size: 1.6rem;
}
.home-nav-container h3 {
  margin: 0.1rem 0 0.4rem;
  font-size: 2.8rem;
  font-weight: bold;
}
.home-nav-container p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.home-nav-container img {
  width: 100%;
}
@media only screen and (max-width:1200px), only screen and (max-device-width:1200px) {  /*Windowed view for Home Nav*/
  .home-nav-container {
    flex-wrap: wrap;
  }
  .home-nav-container > a,
  .home-nav-container > div {
     flex-basis: 40%;
  }
}

@media only screen and (max-width:480px), only screen and (max-device-width:480px) {  /*Mobile view for Home Nav*/
  .home-nav-container p,
  .home-nav-container > a > div:nth-of-type(1) {
    font-size: 3.5vw;
  }
  .home-nav-container h2 {
    font-size: 1.2rem;
  }
  .home-nav-container h3 {
    font-size: 1.4rem;
  }
}


/*.home-bggreen { DEPRECATED
  background-color: rgba(0, 255, 127, 0.9) !important;
}*/
.home-bgred {
  background-color: rgba(147, 30, 63, 0.9) !important;
}
.home-bgyellow {
  background-color: rgba(250, 218, 110, 0.9) !important;
}

